mkdir -p /opt/projects/{{PROJECT_NAME}}/volumes
mkdir -p /opt/projects/{{PROJECT_NAME}}/volumes/mailman-core
mkdir -p /opt/projects/{{PROJECT_NAME}}/volumes/mailman-web
mkdir -p /opt/projects/{{PROJECT_NAME}}/volumes/postfix/logs
cp ./postfix/virtusertable /opt/projects/{{PROJECT_NAME}}/volumes/postfix/virtusertable
cp ./postfix/postfix/update_virt_user_table.sh /opt/projects/{{PROJECT_NAME}}/volumes/postfix/update_virt_user_table.sh
mkdir -p /opt/projects/{{PROJECT_NAME}}/volumes/postgredb
mkdir -p /opt/projects/{{PROJECT_NAME}}/volumes/public-web-site
mkdir -p /opt/projects/{{PROJECT_NAME}}/volumes/private-web-site/

docker compose build --no-cache
docker compose up -d

echo 'Waiting for mailman-web to be ready'
sleep 30
docker exec -i {{PROJECT_NAME}}-mailman-web /bin/bash -c "DJANGO_SUPERUSER_PASSWORD={{WEB_MAILMAN_ADMIN_PASSWORD}} ./manage.py createsuperuser --no-input --username={{WEB_MAILMAN_ADMIN_USERNAME}} --email=info@{{DOMAIN}}"