mkdir -p /opt/projects/{{PROJECT_NAME}}/PWMD-Compose/certs/
mkdir -p /opt/projects/{{PROJECT_NAME}}/database
mkdir -p /opt/projects/{{PROJECT_NAME}}/core
mkdir -p /opt/projects/{{PROJECT_NAME}}/web

sudo cp -R /etc/letsencrypt/archive/6green.eu/* /opt/projects/{{PROJECT_NAME}}/PWMD-Compose/nginx
docker compose build --no-cache
docker compose up -d
docker exec -i {{PROJECT_NAME}}-mailman-web /bin/bash -c "DJANGO_SUPERUSER_PASSWORD=my_password ./manage.py createsuperuser --no-input --username=mailadmin --email=admin@example.234es.it"